.DS_Store
config/database.yml
config/sphinx.yml
db/*.sql.bz2
db/sphinx/
log
public/cache
public/assets
public/system/
db/assets.tar.gz
coverage/
doc/app/
doc/controllers.svg
doc/models.svg
metrics/
index/
*swp
*~
tmp
assets.tar.gz
db/dump.sql
