%p
  %span My latest tweets...

:plain
  <script src="http://widgets.twimg.com/j/2/widget.js" type="text/javascript"></script>
  <script type="text/javascript">
  new TWTR.Widget({
    version: 2,
    type: 'profile',
    rpp: 4,
    interval: 6000,
    width: 'auto',
    height: 300,
    theme: {
      shell: {
        background: '#333333',
        color: '#ffffff'
      },
      tweets: {
        background: '#192d40',
        color: '#ffffff',
        links: '#4aed05'
      }
    },
    features: {
      scrollbar: false,
      loop: false,
      live: false,
      hashtags: true,
      timestamp: true,
      avatars: false,
      behavior: 'all'
    }
  }).render().setUser('slainer68').start();
  </script>
    
%p!= link_to image_tag("twitter.png"), "http://twitter.com/slainer68"

:erb
  <a href="http://stackoverflow.com/users/323384/slainer68">
    <img src="http://stackoverflow.com/users/flair/323384.png?theme=dark" width="208" height="58" alt="profile for slainer68 at Stack Overflow, Q&A for professional and enthusiast programmers" title="profile for slainer68 at Stack Overflow, Q&A for professional and enthusiast programmers">
  </a>
  
