%h2 Bienvenue chez un passionné du Web
%hr

%p.tags_cloud
  - %w(web ruby methodologie passion agile open\ source libre rails chaine\ de\ production fun user\ experience TDD unix danse SaaS choucroute intégration\ continue administration MacOs\ X standards programmation\ objet standards photo git).each do |tag|
    %span{ :style => "font-size: #{%w(1 1.2 1.5 1.8 2)[rand(5)]}em"}= tag
    &nbsp;&nbsp;&nbsp;
  
