%h2 Welcome on the portfolio of a Web enthusiast!
%hr

%p.tags_cloud
  - %w(web ruby methodology passion agile open\ source open rails fun user\ experience TDD HTML5 unix BDD dance SaaS choucroute continuous\ integration administration MacOs\ X standards object\ development standards photo git).each do |tag|
    %span{ :style => "font-size: #{%w(1 1.2 1.5 1.8 2)[rand(5)]}em"}= tag
    &nbsp;&nbsp;&nbsp;

= link_to image_tag("ruby_certified.png"), "http://www.ruby-assn.org/en/certification.htm"
