%h2 Nicolas Blanco

%p
  6 rue de l'Eglise
  %br
  67170 Guedertheim
  %br
  06 33 45 58 42
  %br
  slainer68@gmail.com
  %br
  26 ans, célibataire de nationalité française

%h3 Formation
%p.justify
  %em 2005-2006 :
  Licence Professionnelle Informatique option Administration et Maintenance des Systèmes
%p.justify
  %em 2003-2005 :
  Diplôme Universitaire Technologique Services et Réseaux de Communication
%p.justify
  %em 2002 :
  Baccalauréat général Scientifique au lycée Alfred Kastler de Guebwiller

%hr

%h3 Compétences informatiques

%p.justify
  %em Systèmes et administration :
  Excellente connaissance et administration des systèmes d'exploitation Windows 9x, NT, 2000, XP, Windows Server 2000/2003 ainsi que des systèmes Unix, GNU/Linux et Mac OS X

%p.justify
  %em Développement client lourd :
  Java, J2EE (environnement Eclipse, WebSphere), Delphi, Visual Basic

%p.justify
  %em Développement Web :
  PHP 5 objet, Ruby on Rails, intégration Web : XHTML, CSS

%p.justify
  %em Autres :
  Bonne connaissance des outils graphiques de la suite Adobe : Photoshop, Illustrator

%p.justify
  %em Méthodologies :
  Utilisation des méthodologies "agiles" : programmation XP, Scrum

%hr

%h3 Langues

%p.justify
  %em Anglais :
  Lu, écrit et parlé. Diplôme de l'Université de Cambridge (First Certificate of English)

%hr

%h3 Expériences professionnelles

%p.justify
  %em Depuis avril 2008 :
  != "Développeur Web chez #{link_to "Novelys", "http://www.novelys.com"}. Travail en équipe agile sur le développement d'applications Web en Ruby on Rails : réseau social de luxe The-Sphere.com, portail gastronomique Keldelice.com..."

%p.justify
  %em Juillet 2006-Novembre 2007 :
  Développeur Web Intranet à la Mairie de Mulhouse. Maintenance et développement d'applications internes en PHP 5, Ruby on Rails et .NET

%p.justify
  %em Mars-Juin 2006 :
  Stage à la Direction Départementale de Securité Publique de la Police Nationale de Strasbourg. Administration client/serveur Windows 2000-XP-2003 et Linux

%p.justify
  %em Mars-Juin 2005 :
  Développement et mise en place d'un logiciel de gestion de contenu en PHP pour le Centre de Recherche du département Gestion des Entreprises et des Administrations de l'I.U.T. de Mulhouse