%h2 Ruby on Rails & JavaScript Presentations

%h3 Some OAuth love <3 @ Paris.rb (February 2012)

:erb
  <div style="width:425px" id="__ss_11452252"> <strong style="display:block;margin:12px 0 4px"><a href="http://www.slideshare.net/nicolasblanco1/some-oauth-love" title="Some OAuth love" target="_blank">Some OAuth love</a></strong> <iframe src="http://www.slideshare.net/slideshow/embed_code/11452252" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe> <div style="padding:5px 0 12px"> View more <a href="http://www.slideshare.net/" target="_blank">presentations</a> from <a href="http://www.slideshare.net/nicolasblanco1" target="_blank">Nicolas Blanco</a> </div> </div>

%h3 A piece of sugar in your client-side development (JavaScript, HTML 5) @ Kiwiparty Strasbourg (April 2011)

:erb
  <div style="width:425px" id="__ss_7484882"> <strong style="display:block;margin:12px 0 4px"><a href="http://www.slideshare.net/nicolasblanco1/a-piece-of-sugar-in-your-clientside-development" title="A piece of sugar in your client-side development">A piece of sugar in your client-side development</a></strong> <iframe src="http://www.slideshare.net/slideshow/embed_code/7484882" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe> <div style="padding:5px 0 12px"> View more <a href="http://www.slideshare.net/">presentations</a> from <a href="http://www.slideshare.net/nicolasblanco1">Nicolas Blanco</a> </div> </div>
  
%h3 Resque Background Processing @ RailsCamp Paris (April 2011)

:erb
  <div style="width:425px" id="__ss_7572714"> <strong style="display:block;margin:12px 0 4px"><a href="http://www.slideshare.net/nicolasblanco1/background-processing-with-resque" title="Background processing with Resque">Background processing with Resque</a></strong> <iframe src="http://www.slideshare.net/slideshow/embed_code/7572714" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe> <div style="padding:5px 0 12px"> View more <a href="http://www.slideshare.net/">presentations</a> from <a href="http://www.slideshare.net/nicolasblanco1">Nicolas Blanco</a> </div> </div>
